.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
  }
  
  .pagination a.active {
    background-color: #229ecf;
    color: white;
    border: 1px solid #229ecf;
  }
  
  .pagination a:hover:not(.active) {
      color :  #229ecf;
      background-color: white;
      border: 2px solid #229ecf
    }